
{% block style -%}
    {#TODO: Fix this path: #}
        <link href="{{'/static/css/styles.css'}}" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.min.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/geral.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 
{%- endblock style %}

{% block body_content %}

<div class="container">
{% block navbar %}
{% endblock %}



{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <!--<ul class="flashes">-->
    {% for category, message in messages %}
      <!--{#<li>{{ message }}</li>#}-->
      {% if category == 'error' %}
      <div class="alert alert-error">
      {% else %}
      <div class="alert">
      {% endif %}
        <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
    <!--</ul>-->
  {% endif %}
{% endwith %}


{% block container %}
{% endblock %}

<footer class="footer">
{% block footer %}
<span id="siteseal"> </span>
<p>&copy; MANGOO</p>
{% endblock %}
</footer>

</div>


{% endblock %}
