{% extends "base.html" %}
{% block container %}
<form action= "/upload" method= "post"
enctype= "multipart/form-data">
Inserir o nome dos campos como aparecem na planilha

id<input type = "text" name = "id" /><br />
nome<input type = "text" name = "nome" /><br />
data de nascimento<input type = "text" name = "data_nascimento" /><br />
sexo<input type = "text" name = "sexo" /><br />
idade de aposentadoria<input type = "text" name = "idade_aposentadoria" /><br />
contribuicao mensal<input type = "text" name = "contribuicao_mensal" /><br />
contribuicao mensal empresa<input type = "text" name = "contribuicao_empresa" /><br />
aporte inicial<input type = "text" name = "aporte_inicial" /><br />
aporte inicial empresa<input type = "text" name = "aporte_empresa" /><br />
<br />
<label for= "file">Filename:</label>
<input type= "file" name = "file" id = "file" /> 
<br />

<input type= "submit" name = "submit" value = "Submit" />
</form>
{% endblock %}
