{% extends "base.html" %}
{% block container %}
<div>
<table border =2>
<thead>

<tr>
<td>
nome
</td>
<td>
id
</td>
<td>
montante pessoa
</td>
<td>
montante empresa
</td>
<td>
contribuicao pessoa
</td>
<td>
contribuicao empresa
</td>
<td>
total reserva
</td>
</tr>

</thead>
<tbody>
{% for pessoa in pessoas %}

<tr>
<td>
{{ pessoa.nome }}
</td>
<td>
{{ pessoa.id }} 
</td>
<td>
{{ pessoa.montante }} 
</td>
<td>
{{ pessoa.montante_empresa }} 
</td>
<td>
{{ pessoa.total_contrib }} 
</td>
<td>
{{ pessoa.total_contrib_empresa }} 
</td>

<td>
{{ pessoa.total }} 
</td>

</tr>
{% endfor %}

</tbody>
</table>

</div>

{% endblock %}
